<template name="sectionInfo">
    <div class="block">
        <table class="table section-info">
            <tbody>
            {{#if notInfinity durationFromLastDoseInHalfLives}}
            <tr>
                <th>Current accumulated according to half life ({{formatHalfLife halfLife}})</th>
                <td>{{toFixed accumulated 10}}</td>
            </tr>
            {{/if}}
            <tr>
                <th>As a daily dose (now)</th>
                <td>{{toFixed daily 3}} mg</td>
            </tr>
            <tr>
                <th>As a daily dose (at the time of the last dose)</th>
                <td>{{toFixed dailyFromLast 3}} mg</td>
            </tr>
            <tr>
                <th>Time from the last dose</th>
                <td>
                    {{durationFromLastDose}}
                    {{#if notInfinity durationFromLastDoseInHalfLives}}
                        ({{toFixed durationFromLastDoseInHalfLives 3}} half-lives)
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Mean per day (selected period)</th>
                <td>{{toFixed mean 2}} mg</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
