<template name="sectionData">
    {{#if expanded}}
        <div class="block">
            <div class="btn-group">
                <a class="toggle btn btn-danger">Hide table</a>
            </div>
        </div>
        {{> sectionTable}}
    {{else}}
        <div class="block">
            <div class="btn-group">
                <a class="toggle btn btn-info">Show table</a>
            </div>
        </div>
    {{/if}}
</template>
