<template name="sectionAdd">
    <div class="block">
        <form class="form-inline">
            <div class="form-group">
                <label for="sectionName">Drug name:</label>
                <input id="sectionName" type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label for="halfLife">Half life (hours):</label>
                <input id="halfLife" type="number" step="0.1" class="form-control" name="halfLife" required>
            </div>
            <button class="btn btn-primary">Create</button>
        </form>
    </div>
</template>
