<template name="tabs">
    <ul class="nav nav-tabs">
        {{#sortable items=sections}}
            <li role="presentation" class="{{className ../_id}} sortable-handle"><a href="/section/{{_id}}">{{name}}</a></li>
        {{/sortable}}
        <li role="presentation" class="{{className "add"}}"><a href="/section/add">+ add</a></li>
    </ul>
</template>
