<template name="section">
    <div class="block">
        <div class="row">
            <div class="col-md-12">
                {{> sectionControls}}
            </div>
        </div>
    </div>
    <div class="block">
        <div class="row">
            <div class="col-md-10">
                {{> sectionEntry}}
            </div>
        </div>
    </div>

    {{#if hasChartData}}
        {{> sectionChart}}
        {{> sectionInfo}}
        {{> sectionData}}
    {{/if}}
</template>
