<template name="sectionEntry">
    <form class="form-inline">
        <input type="hidden" name="sectionId" value="{{id}}">
        <div class="form-group">
            <label for="entryValue">Dose:</label>
            <input id="entryValue" type="number" step="0.001" class="form-control" name="value" required>
        </div>
        <div class="form-group">
            <label for="entryDatetime">Date and time:</label>
            <input id="entryDatetime" type="datetime-local" class="form-control" name="datetime">
        </div>
        <div class="btn-group">
            <a class="date-today btn btn-info">Today</a>
            <a class="date-now btn btn-info">Now</a>
        </div>
        <button class="btn btn-primary">Add</button>
    </form>
</template>
