<template name="archive">
    <h1>Archive</h1>
    {{#if empty}}
        <div class="alert alert-warning" role="alert">Archive is empty.</div>
    {{else}}
        <table class="table table-striped">
            <tbody>
            {{#each sections}}
                <tr>
                    <td>{{name}}</td>
                    <td class="buttons btn-group-xs">
                        <button class="unarchive btn btn-success"><i class="glyphicon glyphicon-star"></i> Unarchive</button>
                        <button class="delete btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Remove</button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}

</template>
