<template name="sectionTable">
    <div class="block">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Value</th>
                        <th>Accumulated</th>
                        <th>Datetime</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each entries}}
                        <tr>
                            <td>{{value}}</td>
                            <td>{{toFixed accumulated 3}}</td>
                            <td>{{formatDate datetime}}</td>
                            <td class="buttons btn-group-xs">
                                <button class="delete btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
