<template name="navigation">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Half Life</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">

            {{> topmenu }}

            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
            </ul>
        </div>
    </div>
</template>

<template name="topmenu">
    <ul class="nav navbar-nav">
        {{#if currentUser }}
            <li><a href="/archive">Archive</a></li>
        {{/if}}
    </ul>
</template>
