<template name="sectionEdit">
    <div class="block">
        <form class="form-inline">
            <input type="hidden" name="id" value="{{id}}">
            <div class="form-group">
                <label for="sectionName">Name:</label>
                <input id="sectionName" type="text" value="{{name}}" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label for="halfLife">Half life (hours):</label>
                <input id="halfLife" type="number" value="{{toHours halfLife}}" class="form-control" name="halfLife" required>
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
    </div>
</template>
