<template name="page">
    {{#if currentUser }}
        <section class="container">
            {{> yield "top"}}
            {{> yield "content"}}
        </section>
    {{else}}
        <div class="jumbotron">
            <div class="container">
                <h1>Welcome!</h1>
                <p>Please sign in.</p>
            </div>
        </div>
    {{/if}}
</template>
