<template name="sectionControls">
    <div class="btn-group">
        <a class="edit btn btn-info" href="/section/{{id}}/edit"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
        <a class="archive btn btn-warning"><i class="glyphicon glyphicon-floppy-disk"></i> Archive</a>
        <!--<a class="delete btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Delete</a>-->
    </div>
</template>
